
# Created by https://www.gitignore.io/api/node,code,vuejs
# Edit at https://www.gitignore.io/?templates=node,code,vuejs

### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Vuejs ###
# Recommended template: Node.gitignore

dist/
node_modules/
npm-debug.log
yarn-error.log

# End of https://www.gitignore.io/api/node,code,vuejs