@mixin overlays($property) {
  position: absolute;
  top: 0;
  transform: translateX($property);
  transition: transform 0.5s ease-in-out;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: rgba(5, 13, 31, 0.959);
  background-image: url("../img/sky.jpg");
  background-size: contain;
}

canvas {
  width: 100vw !important;
  height: 100vh !important;
}

.loginpan {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.container {
  position: relative;
  border-radius: 10px;
  width: 55vw;
  height: 65vh;
  background-color: rgb(241, 241, 241);
  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    transition: transform 0.5s ease-in-out;
    z-index: 100;
  }
  .overlay {
    position: relative;
    left: -100%;
    width: 200%;
    background: linear-gradient(to bottom right, rgb(0, 18, 83), rgb(4, 91, 179));
    color: #fff;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
  }
  .overlay-left {
    @include overlays(-20%);
  }
  .overlay-right {
    @include overlays(0);
    right: 0;
  }
}

button {
  border-radius: 20px;
  border: 1px solid rgba(0, 18, 83, 1);
  background-color: rgb(23, 48, 138);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  transition: transform 0.1s ease-in;
  &:active {
    transform: scale(0.9);
  }
  &:focus {
    outline: none;
  }
  &.invert {
    background-color: transparent;
    border-color: #fff;
  }
}

form {
  // color: #000;
  position: absolute;
  top: 0;
  transition: all 0.5s ease-in-out;
  margin-top: 7%;
  background-color: rgb(241, 241, 241);
  div {
    font-size: 1rem;
  }
  input {
    border: none;
    border-bottom: 2px solid #0000008a;
    padding: 10px;
    // margin: 10px;
    background-color: transparent;
    overflow: hidden;
    &:focus {
      outline: none;
    }
  }
}

.sign-in {
  left: 0;
  z-index: 2;
}

.sign-up {
  left: 0;
  z-index: 1;
  opacity: 0;
}

.sign-up-active {
  .sign-in {
    transform: translateX(100%);
    display: none;
  }
  .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.5s;
  }
  .overlay-container {
    transform: translateX(-100%);
  }
  .overlay {
    transform: translateX(50%);
  }
  .overlay-left {
    transform: translateX(0);
  }
  .overlay-right {
    transform: translateX(20%);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    z-index: 1;
  }
  49% {
    opacity: 0;
    z-index: 1;
  }
  50% {
    opacity: 1;
    z-index: 10;
  }
}
