body {
  height: 100vh;
  overflow: hidden;
  background-color: rgba(5, 13, 31, 0.959);
  background-image: url("../img/sky.jpg");
  background-size: contain;
}

canvas {
  width: 100vw !important;
  height: 100vh !important;
}

.loginpan {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.container {
  position: relative;
  border-radius: 10px;
  width: 55vw;
  height: 65vh;
  background-color: #f1f1f1;
}

.container .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  z-index: 100;
}

.container .overlay {
  position: relative;
  left: -100%;
  width: 200%;
  background: -webkit-gradient(linear, left top, right bottom, from(#001253), to(#045bb3));
  background: linear-gradient(to bottom right, #001253, #045bb3);
  color: #fff;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.container .overlay-left {
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.container .overlay-right {
  position: absolute;
  top: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  right: 0;
}

button {
  border-radius: 20px;
  border: 1px solid #001253;
  background-color: #17308a;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  -webkit-transition: -webkit-transform 0.1s ease-in;
  transition: -webkit-transform 0.1s ease-in;
  transition: transform 0.1s ease-in;
  transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in;
}

button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

button:focus {
  outline: none;
}

button.invert {
  background-color: transparent;
  border-color: #fff;
}

form {
  position: absolute;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-top: 7%;
  background-color: #f1f1f1;
}

form div {
  font-size: 1rem;
}

form input {
  border: none;
  border-bottom: 2px solid #0000008a;
  padding: 10px;
  background-color: transparent;
  overflow: hidden;
}

form input:focus {
  outline: none;
}

.sign-in {
  left: 0;
  z-index: 2;
}

.sign-up {
  left: 0;
  z-index: 1;
  opacity: 0;
}

.sign-up-active .sign-in {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  display: none;
}

.sign-up-active .sign-up {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  -webkit-animation: show 0.5s;
          animation: show 0.5s;
}

.sign-up-active .overlay-container {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.sign-up-active .overlay {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.sign-up-active .overlay-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sign-up-active .overlay-right {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
    z-index: 1;
  }
  49% {
    opacity: 0;
    z-index: 1;
  }
  50% {
    opacity: 1;
    z-index: 10;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    z-index: 1;
  }
  49% {
    opacity: 0;
    z-index: 1;
  }
  50% {
    opacity: 1;
    z-index: 10;
  }
}
/*# sourceMappingURL=login.css.map */